/src/Infrastructure/SolarLabCourseTask.Infrastructure/obj/
/src/Infrastructure/SolarLabCourseTask.Infrastructure/bin/
/src/Infrastructure/SolarLabCourseTask.DbMigrator/obj/
/src/Infrastructure/SolarLabCourseTask.DbMigrator/bin/
/src/Infrastructure/SolarLabCourseTask.DataAccess/bin/
/src/Infrastructure/SolarLabCourseTask.DataAccess/obj/
/src/Infrastructure/SolarLabCourseTask.ComponentRegistrar/obj/
/src/Infrastructure/SolarLabCourseTask.ComponentRegistrar/bin/
/src/Hosts/SolarLabCourseTask.API/bin/
/src/Hosts/SolarLabCourseTask.API/obj/
/src/Domain/SolarLabCourseTask.Domain/bin/
/src/Domain/SolarLabCourseTask.Domain/obj/
/src/Contracts/SolarLabCourseTask.Contracts/bin/
/src/Contracts/SolarLabCourseTask.Contracts/obj/
/src/Application/SolarLabCourseTask.AppServices/bin/
/src/Application/SolarLabCourseTask.AppServices/obj/
/src/.idea/
/src/.vs/
